<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Eventos app</title>
</head>

<body>

	<h1>Pagina de cadastro de eventos</h1>
	
	<form method="post" action="">
				Nome: <input type="text" value="" name="local">
				Local: <input type="text" value="" name="nome">
				Data: <input type="text" value="" name="data">
				Horario: <input type="text" value="" name="horario">
				
				<button type="submit">Salvar</button>
				
		
	
	</form>

</body>


</html>